@import url(https://fonts.googleapis.com/css?family=Varela+Round);

:root {
  --background-color: rgba(0, 0, 0, 1.0);
  --background-text-color: rgba(24, 26, 27, 0.8);
  --text-color: rgba(200, 200, 200, 1);

  --screen-width = window.innerWidth;
  --screen-height = window.innerHeight;
}

html, body {
    background: #333 url("https://codepen.io/images/classy_fabric.png");
    width: --screen-width;
    height: --screen-height;
}

/*function myFunction {
    var x = document.getElementById(demo);
    x.innerHTML = "Browser width: " + --screen-width + ", height: " + --screen-height + ".";
}*/

/*var x = document.getElementById("demo");
x.innerHTML = "Browser width: " + --screen-width + ", height: " + --screen-height + ".";*/

.slides {
    padding: 2;
    width: --screen-width;
    height: --screen-height;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: --screen-width * .95;
    height: --screen-height * .95;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: --screen-width * .9;
    height: --screen-height * .9;
}

.slide iframe {
    width: --screen-width * .9;
    height: --screen-height * .9;
}


.nav label {
    width: --screen-width * .2;
    height: --screen-height * 0.9;
    display: none;
    position: absolute;

	opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 312pt;
    line-height: --screen-height * 0.9;
    /*line-height: --screen-height * .3;*/
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}